*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow-x: hidden;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #3d3d3d;
    color: white;

}
/* proprietà nav */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 190px; 
    height: calc(100% - 80px);
    background-color: black;
    color: lightgray; 
}
.blocco_uno {
    width: 100%;
    height: 170px;
    padding-left: 8px;
    overflow: hidden;
}
.main-nav .logo {
    width: 125px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.logo-small {
    display: none;
}
.main-nav ul {
    margin-top: 20px;
    height: 100px;
}
.blocco_secondo {
  width: 100%;
  height: calc( 100% - 170px - 70px );
  padding-top: 20px;
  overflow: hidden;
  padding-left: 15px; 
  padding-right: 5px;
}
ul li {
  width: 100%;
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
  color: lightgray;
  font-size: 10px;
  overflow-y: auto;
  max-height: 30%;
}
.lista {
    width: 25px;
    height: 20px;
    margin-right: 7px;
    display: inline-block;
}
.opzioni li p {
    display: inline-block;
}
.main-nav h4 {
   margin-left: 4px;
}
.playlist {
    width: 100%;
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
}
.playlist i {
    font-size: 20px;
    display: inline-block;  
    /* margin-right: 4px; */
}
.playlist p {
    display: inline-block;  
    font-size: 13px;
    /* margin-left:4px; */
}
.installa_App{
 width: 180px;
 height: 70px;
 /* background-color: chartreuse; */
 margin: auto;
 padding-top: 4px;
 position: fixed;
 font-size: 15px;
}
.installa_App i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 4px;   
}
.installa_App p {
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;   
}
.riga {
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: white;
}
/* fine proprietà nav */

/* inizio proprietà main */
.main-content {
    width: calc(100% - 190px);
    height: 100%;
    margin-left: 190px; 
    background-color: #141922
    ;
    color: white;
    overflow-y: auto;
}
.Upgrade {
    width: 100%;
    height: 7vh;
    background-color: lightgray;
    position: relative;
    background-color: #222224;
    margin-bottom: 20px;
}
.botton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 200px;
    padding: 5px;
    background-color: #14192;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.testo {
    width: 80%;
    /* height: 20px; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: #41454c;
}
.testo p {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
}

.testo p:hover {
     color:white;
}

.riga_verde {
    height: 100%;
    padding: 2px;
    padding-left: 10px;
    border: none;
}
.riga_verde:hover {
   border-bottom: 2px solid chartreuse ;
}
.recently_played {
    width: 100%;
    height: 350px;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    padding: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 
.album  {
    width: calc(100% / 6 - 4px);
    /* height: 300px; */
    /* border: 1px solid black;  */
    float: left;
    margin-top: 20px;
    margin-right: 4px;
    margin-bottom: 145px;
}

.album img {
    width: 100%;
}
.album p {
    text-align: center;
    margin-top: 5px;
}
.subtitle {
    font-size: 15px;
    color: gray;
}
 .due {
     margin-bottom: 150px;
}
 .creato_per_J-Doe {
    width: 100%;
    display: inline-block;
    margin: auto;
    padding: 12px;
    padding-bottom: 10px;
}
 .ascolti_più_popolari {
    width: 100%;
    height: 450px; 
    display: inline-block;
    margin: auto;
    padding: 12px;
    padding-bottom: 10px;
}
 .ascolti_più_popolari img {
     /* border: 1px solid black; */
     border-radius: 50%;
}
.flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dx {
    width: 25%;
    height: 80px;
    /* background-color: chartreuse; */
    padding: 5px;
    padding-top: 15px;
    padding-left: 5px;
    position: relative;
    margin-right: 5%;
}
.dx img {
    width: 50px;
    float: left; 
}
.dx .ascolto {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.top {
    font-size: 17px;
}
.bottom {
    font-size:13px ;
}
.dx .primo {
    position: absolute;
    top: 30px;
    right: 50px;
}
 .dx .secondo {
    position: absolute;
    top: 30px;
    right: 25px;

 }
.centro {
    width: 50%;
    height: 80px;
    /* background-color: cyan;   */
    position: relative;
    
}
.esecuzione .riproduzione {
   float: left;
   margin-left: 10%;
   /* margin-right:10px ; */
   text-align: center;
   vertical-align: middle;

}
.play i {
   font-size: 40px;
   line-height:33%;
   margin-left: 10%;
}
.esecuzione {
    height: 80px;
    width: 90%;
    margin: auto;
    /* background-color: darkred; */
    vertical-align: middle;
    padding: 15px;
    position: relative;
}
.tempo {
    position: relative;
    
}
.barra-dascolto {
    margin: auto;
    height: 50%;
    width: 50%;
    /* background-color: yellow; */
}
.esecuzione-due {
   position: absolute;
   height: 50%;
   width: 80%;
   /* background-color:blue ; */
   top: 60%;
   margin-left: 10%;
   margin-bottom: 10px;
}
.minuto_primo {
    float: left;
}
.hr {
    border: 3px solid black;
    border-radius: 20px ;
    width: 83%;
    height: 2px;
    float: left; 
   /* padding-top: 1px;
    padding-bottom: 1px;  */
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
} 
.secondi {
    width: 20%;
    height: 0.5px;
    background-color: white;
}
.minuto_secondo {
  float: left;
  margin-bottom: 5%;
 
}
.sx {
    width: 25%;
    height: 80px;
    /* background-color: blue; */
    position: relative;
}
.sx_position {
    width: 100%;
    height: 80px;
    font-size: 10px;
    padding: 10px;
    padding-left: 50px;
}
.sx i , .bis {
    margin-right: 5%;
    margin-top: 10%;
}
.block-sx {
    float: left;
    font-size: 13px;
   

}
.sx_position .humb {
    float: left; 
    width: 20px;
    
}
.tv {
    float: left;
    width: 20px;
}
.audio {
    float: left;
    width: 20px;
  
}
.bis {
    float: left;
    width: 40%; 
}


/* query */

/* per telefonino (xs) */

@media screen and (max-width: 600px) {
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 10%; 
        height: calc(100% - 80px);
        background-color: black;
        color: lightgray; 
    }
}
@media screen and (max-width: 600px) {
    .main-content {
        width: 90%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 600px) {

    .main-nav p , .playlist , h4 {
        display: none;
    }
}
@media screen and (max-width: 600px) {

    .logo {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .logo-small{
        display: block;
        margin-top: 10px;
        /* width: 23px; */
        margin-top: 10px;
        margin-right: 2px;
        
    }
}
@media screen and (max-width: 600px) {
    .opzioni li p {
    display: none;
    }
}
@media screen and (max-width: 600px) {
    .opzioni img {
        width: 15px;
        margin-left: 3px;
    }
}
@media screen and (max-width: 600px) {

    .blocco_uno {
        text-align: center; 
        padding: 5px;
        padding-right: 3px;
    }
}
@media screen and (max-width: 600px) {
    .riga {
    display: none;
    
    }
}
@media screen and (max-width: 600px) {

    .installa_App .smaller , .bigger {
        display: block;
        padding: 2.5;
    }
}
@media screen and (max-width: 600px) {

    .smaller {
        font-size: 15px; 
    }
}
@media screen and (max-width: 600px) {
    .bigger {
       font-size: 16px;
    
    }

}
@media screen and (max-width: 600px) {
    
    .recently_played {
         width: 100%;
         height: 450px; 
         display: inline-block;
         margin: auto;
         margin-top: 20px;
         padding: 10px;
         margin-bottom: 400px;
    }
} 
@media screen and (max-width: 600px) {
    .album  {
        width: calc(100% / 2 - 4px);
        height: 100px;
        /* background-color: cadetblue; */
        /* border: 1px solid black; */
        float: left;
    }
   
}
@media screen and (max-width: 600px) {
    .testo p {
        font-size: 8px;
        display: inline-block;
        margin-right: 2px;
    }
   
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    .dx .primo {
        position: absolute;
        top: 25px;
        left: 84px;
        font-size: 12px;

    }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    .dx .secondo {
        position: absolute;
        top: 45px;
        left: 84px ;
        font-size: 12px;

    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .dx img {
        position: absolute;
        top: 25px;
        width: 30px;
        float: left;
    }
} 
@media screen and (min-width: 300px) and (max-width: 600px) {
    .top {
        font-size: 13px;
        margin-left: 25px;

    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .bottom {
        font-size: 9px;
        margin-left: 25px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    .dx {
        /* width: 30%; */
        height: 80px;
        /* background-color: chartreuse; */
        padding: 2px;
        padding-top: 15px;
        padding-left: none;
        position: relative;
        margin-right: 2%;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
   .centro{
        width: 150px; 
        height: 50%;
        /* background-color: cyan;  */
        position: relative;
        padding-top: 12px;
   }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    .esecuzione {
        height: 50%;
        width: 100%;
        margin: auto;
        
        position: relative;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
     
    .barra-dascolto {
        height: 50%;
        width: 100%;
        padding-right: none;
        margin-bottom: 2%;
   }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    .esecuzione .riproduzione {
        float: left;
        /* font-size: 11px; */
        margin-left: 5%;
        text-align: center;
        vertical-align: middle;
    }
 
 }
 @media screen and (min-width: 300px) and (max-width: 600px) {
     
    .play i {
        font-size: 25px;
        line-height:33%;
        margin-right: 2px;
        
    }
 }
 @media screen and (min-width: 300px) and (max-width: 600px) {
     
    .esecuzione-due {
        position: absolute;
        height: 70%;
        width: 145px;
        top: 50px;
        margin-bottom: 5px;
        font-size: 10px;
        margin-right: 5%;
        padding-left: 5px;
    }
 }
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    .hr {
        border: 3px solid black;
        border-radius: 20px ;
        width: 50%;
        height: 4px;
        float: left; 
        padding-top: 0.5px;
        padding-bottom: 0.5px; 
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .sx_position {
        width: 100%;
        height: 80px;
        font-size: 10px;
        padding: 0; 
        padding-left: 0;
        margin-right: 50px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .sx {
        width: 25%;
        height: 80px;
        position: relative;
        margin-top: 25px;
        margin-right: 11px;
    }

}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .sx_position .humb {
        float: left; 
        width: 10px;
        margin-right:3px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    
    .tv {
       float: left;
       width: 10px;
       margin-right: 5px;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    
    .audio {
        float: left;
        width: 10px;
        margin-right:6px;
        margin-left: 6px;

    }
  
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .sx i , .bis {
        margin-right: 0%;
        margin-top: 10%;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .bis {
        float: left;
        width: 38%; 
        height: 2px;
        margin-left: 6px ;
}
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .riga_verde {
        height: 20px;
        padding: 0px;
        display: inline-block;
        text-align: center;
        margin-right:18px ;

        /* margin-right: 20px; */
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    

    .testo {
        width: 80%;
        /* height: 20px; */
        margin-left:5px;
        text-align: center;
        display: block;
        justify-content: space-around;
        color: #41454c;
        margin: auto;
}
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    
    
    .riga_verde p {
        display: inline-block;
        margin-right: 2px;
        font-size: 7px;
        vertical-align: middle;
        text-align: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .verde_bis {
      padding-left: 2px;
    }

}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .spazio {
        margin-right: 5px
    }

}
/* fine modifiche per telefonino (xs) */



/* modifiche solo per tablet */
@media screen and (min-width: 601px) and (max-width:800px) {
    .album  {
        width: calc(100% / 4 - 4px);
        height: 100px;
        /* background-color: cadetblue;
        border: 1px solid black; */
        float: left;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    
    .testo p {
        font-size: 10px;
        display: inline-block;
        margin-right: 15px;
       
    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
    .creato_per_J-Doe {
        width: 100%;
        display: inline-block;
        margin: auto;
        padding: 12px;
        padding-bottom: 10px;
        margin-top: 150px;

    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
    
    .dx .primo {
        position: absolute;
        top: 20px;
        right: 25px;
    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
    .dx .secondo {
        position: absolute;
        top: 40px;
        right: 25px;
    }

}
@media screen and (min-width: 601px) and (max-width:800px) {
    
    .barra-dascolto {
         margin-left: 13%;
         height: 50%;
         width: 70%;
         padding-right: none;
    }
    /* background-color: yellow; */
}
@media screen and (min-width: 601px) and (max-width:800px) {
    .dx {
        width: 25%;
        height: 80px;
        /* background-color: chartreuse; */
        padding: 5px;
        padding-top: 15px;
        padding-left: 5px;
        position: relative;
        margin-right: 2%;
    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
    
    .hr {
       border: 3px solid black;
       border-radius: 20px ;
       width: 79%;
       height: 4px;
       float: left; 
       /* padding-top: 1px;
       padding-bottom: 1px;  */
       margin-top: 2%;
       margin-left: 1%;
       margin-right: 1%;
    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
    
    .sx_position {
        width: 100%;
        height: 80px;
        font-size: 10px;
        padding: 10px;
        padding-left: 20px;
    }
}
@media screen and (min-width: 601px) and (max-width:800px) {
   .bis {
        float: left;
         width: 45%; 
         margin-top: 10%;
   }
}

@media screen and (min-width: 601px) and (max-width:800px) {
    .testo {
        margin: auto;
        display: flex;
        justify-content: space-around;
        color: #41454c;
    }
    
}
@media screen and (min-width: 601px) and (max-width:800px) {
     
    .riga_verde {
      /* width: 70px; */
      padding: 2px;
      padding-left: none;
      border: none;
      font-size: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width:800px) {
    .testo p {
        display: inline-block;
        margin-right: 10px;
        font-size: 7px;
    }
}

/* fine modifiche solo per tablet */


/* modifiche per tablet e pc */
@media screen and (min-width: 601px) {
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width:  190px;
        height: calc(100% - 80px);
        background-color: black;
    }

}

@media screen and (min-width: 601px) {
   .creato_per_J-Doe {
        width: 100%;
        display: inline-block;
        /* margin-bottom: 200px; */
        padding: 12px;
        padding-bottom: 10px;

   }

}
/* fine modifiche per tablet e pc */



